
<div class="container" id="accessories-cards">
  <h1 class="text-center">Our New Products</h1>
  </div>
 <!-- Helmet -->
 <div class="card" id="card-proudect"  >
  <h1 class="text-center" id="Helmet">Helmet</h1>
  <div class="row"  >
    <div class="col-md-6 py-6 py-md-0" *ngFor="let i of helmet" >
      <div class="card" >

        <img [src]="i.src" style="width: 250; height: 200px;">
        <div class="card-body">
          <h3 class="text-center"  >  {{ i.name }}</h3>
          <p class="text-center">Lorem ipsum dolor sit amet .</p>
          <div class="star text-center">
            <i class="fa-solid fa-star checked"></i>
            <i class="fa-solid fa-star checked"></i>
            <i class="fa-solid fa-star checked"></i>
            <i class="fa-solid fa-star checked"></i>
            <i class="fa-solid fa-star checked"></i>
          </div>
          <h2>{{ i.prix }} <span><li class="fa-solid fa-cart-shopping"></li></span></h2>
        </div>
      </div>
    </div>

<div class="text-end mt-3">
  <a href="helmets"> <button class="btn btn-primary" > See more </button></a>
</div>
 </div>
 </div>




  <!-- Helmet -->



  <!-- Earphone -->

  <div class="card" id="card-proudect"  >
    <h1 class="text-center" id="Earphone">Earphone</h1>
    <div class="row"  >
      <div class="col-md-6 py-6 py-md-0" *ngFor="let i of Earphone" >
        <div class="card" >

          <img [src]="i.src" style="width: 250; height: 200px;">
          <div class="card-body">
            <h3 class="text-center"  >  {{ i.name }}</h3>
            <p class="text-center">Lorem ipsum dolor sit amet .</p>
            <div class="star text-center">
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
            </div>
            <h2>{{ i.prix }} <span><li class="fa-solid fa-cart-shopping"></li></span></h2>
          </div>
        </div>
      </div>

  <div class="text-end mt-3">
    <a href="earphones">  <button class="btn btn-primary">See more </button> </a>
  </div>
   </div>
   </div>



  <!-- Earphone -->

   <!--  Cases_and_covers -->

  <div class="card" id="card-proudect"  >
    <h1 class="text-center" id="Cases_and_covers">Cases and Covers</h1>
    <div class="row"  >
      <div class="col-md-6 py-6 py-md-0" *ngFor="let i of Cases_and_covers" >
        <div class="card" >

          <img [src]="i.src" style="width: 250; height: 200px;">
          <div class="card-body">
            <h3 class="text-center"  >  {{ i.name }}</h3>
            <p class="text-center">Lorem ipsum dolor sit amet .</p>
            <div class="star text-center">
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
              <i class="fa-solid fa-star checked"></i>
            </div>
            <h2>{{ i.prix }} <span><li class="fa-solid fa-cart-shopping"></li></span></h2>
          </div>
        </div>
      </div>

  <div class="text-end mt-3">
    <a href="Cases_and_covers">  <button class="btn btn-primary">See more </button> </a>
  </div>
   </div>
   </div>
     <!--  Cases_and_covers -->


<!--  Smartphone_holder -->
<div class="card" id="card-proudect"  >
  <h1 class="text-center" id="Smartphone_holder">Smartphone holder</h1>
  <div class="row"  >
    <div class="col-md-6 py-6 py-md-0" *ngFor="let i of Smartphone_holder" >
      <div class="card" >

        <img [src]="i.src" style="width: 250; height: 200px;">
        <div class="card-body">
          <h3 class="text-center"  >  {{ i.name }}</h3>
          <p class="text-center">Lorem ipsum dolor sit amet .</p>
          <div class="star text-center">
            <i class="fa-solid fa-star checked"></i>
            <i class="fa-solid fa-star checked"></i>
            <i class="fa-solid fa-star checked"></i>
            <i class="fa-solid fa-star checked"></i>
            <i class="fa-solid fa-star checked"></i>
          </div>
          <h2>{{ i.prix }} <span><li class="fa-solid fa-cart-shopping"></li></span></h2>
        </div>
      </div>
    </div>


 </div>
 </div>
<!--  Smartphone_holder -->


<!--  Power_bank -->
<div class="card" id="card-proudect"  >
  <h1 class="text-center" id="Power_bank">Power bank</h1>
  <div class="row"  >
    <div class="col-md-6 py-6 py-md-0" *ngFor="let i of Power_bank" >
      <div class="card" >

        <img [src]="i.src" style="width: 250; height: 200px;">
        <div class="card-body">
          <h3 class="text-center"  >  {{ i.name }}</h3>
          <p class="text-center">Lorem ipsum dolor sit amet .</p>
          <div class="star text-center">
            <i class="fa-solid fa-star checked"></i>
            <i class="fa-solid fa-star checked"></i>
            <i class="fa-solid fa-star checked"></i>
            <i class="fa-solid fa-star checked"></i>
            <i class="fa-solid fa-star checked"></i>
          </div>
          <h2>{{ i.prix }} <span><li class="fa-solid fa-cart-shopping"></li></span></h2>
        </div>
      </div>
    </div>
    <div class="text-end mt-3">
    <a href="Power_bank"> <button class="btn btn-primary">See more </button> </a> 
  </div>

 </div>
 </div>
<!--  Power_bank -->
